<%= render @restaurant %>


<p><%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %>
      <%= review.rating %>
      <%= link_to "Delete",
        review_path(review),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<div>
  <p><%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %></p>
  <p><%= link_to "Back to restaurants", restaurants_path %></p>
  <p><%= button_to "Destroy this restaurant", @restaurant, method: :delete %></p>
</div>
